
@media screen and (max-width: 768px) and (orientation: landscape) {
    /*Index*/
    .main1 {
        display: flex;
        flex-direction: row;
        .mensajeBienvenida {
            width: 30vw;
        }
        .img-fluid {
            width: 70vw;
        }
    }

      /*Productos*/
    .main2 {
        .variedad {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
}


@media screen and (min-width: 1200px) {
    /*index*/
    .main1 {
        display: flex;
        flex-direction: row;
        .mensajeBienvenida {
            margin-top: 220px;
            width: 30vw;
        }
        .img-fluid {
            width: 70vw;
        }
    }
    
    /*productos*/
    .main2 {
        .variedad {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 10px;
        }
    } 
       
       
    
    
        

  
}