@import "mixins";
@import "maps";
@import "./variables/colores";
@import "generales";
@import "footer";
@import "navbar";
@import "extends";
@import "botones";



/*index*/ 
.main1 {
    .mensajeBienvenida {
    color: rgb(127, 157, 93);
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    }
    background-color: map-get($estilos, colorPrimario);

}

 
 /* productos*/
.main2 {
    .clases {
        color: map-get($estilos, colorTexto);
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        text-decoration: underline;
    }
    .variedad {
        display: map-get($estilos, displayFlex);
        flex-direction: map-get($estilos, flexColumn);
        align-items: center;
    }   
    background-color: map-get($estilos, colorPrimario); 
}



 
 /*compra*/
 .main3 {
    background-color: map-get($estilos, colorPrimario);
 }
.section3 {
    background-color: rgb(142, 137, 137);
    display: map-get($estilos, displayFlex);
    flex-wrap: wrap;
}

 
 /*quienes somos*/
.main4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: map-get($estilos, colorPrimario);
    .video {
        width: 100vw;
    }
    .quienessomos {
        color: map-get($estilos, colorTexto); 
    }
}

 
 /*contacto*/

.main5 {
    background-color: map-get($estilos, colorPrimario);
    .datos {
        color: map-get($estilos, colorTexto);
        font-size: 30px;
        margin-left: 15px;
    }
    form {
        color:rgb(19, 20, 18);
        margin-left: 15px;
        margin-top: 10px;
    }
}

@import "responsive";



