@media screen and (max-width: 768px) and (orientation: landscape) {
       /* compra */
       .main1 {
        .div1 {
         .img-fluid {
            width: 50vw;
         }
          display: flex;
          flex-direction: row;
          justify-items: baseline;
          align-items: center;
        }
    }   

      /* productos */
      .section1 {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    /* quienes somos */ 
    .div3 {
        .img-fluid {
            width: 50vw;
        }
        display: flex;
        flex-direction: row;
        justify-items: baseline;
        align-items: center;
    }
}

@media screen and (min-width: 1200px) {
    /*compra*/
    .main1 {
       .div1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 70px;
        margin-right: 70px;
        .textos {
            margin-left: 5px;
            margin-right: 5px;
        }
       }
    }  

    /*productos*/ 
   .section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   }

   /* quienes somos */ 
   .div3{
     margin-left: 70px;
     margin-right: 70px;
     display: flex;
     flex-direction: row;
     align-items: center;
   }

}