* {
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    padding: 0%;
    list-style-type: none;
 } 
 
 /* index */
.nav-link:hover {
    color: rgb(17, 82, 60);
}
.mensajeBienvenida {
    color: rgb(127, 157, 93);
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}
.piePagina1 {
    background-color: rgb(142, 137, 137); 
    display: flex;  
    flex-direction: row;
    justify-content: center;
}
.nombre1 {
    margin-right: 10px;
    margin-top: 10px;
}
.logoInsta {
    margin-top: 5px;
}

 
 /* productos*/
 .clases {
    color:rgb(127, 157, 93);
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: underline;
 }
 .variedad {
    display: flex;
    flex-direction: column;
    align-items: center;
 }    


 
 /*compra*/
.section3 {
    background-color: rgb(142, 137, 137);
    display: flex;
    flex-wrap: wrap;
}

 
 /*quienes somos*/
.main4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}
.video {
    width: 100vw;
}
 
 /*contacto*/

 .main5 {
     background-color: rgb(245, 245, 247);
 }
 .datos {
     color: rgb(127, 157, 93);
     font-size: 30px;
     margin-left: 15px;
 }
 .main5 form {
     color:rgb(19, 20, 18);
     margin-left: 15px;
     margin-top: 10px;
 }

 /* responsive */
 @media screen and (max-width: 768px) and (orientation: landscape) {
    /*Index*/
    .main1 {
        display: flex;
        flex-direction: row;
    }
    .mensajeBienvenida {
        width: 30vw;
    }
    .img-fluid {
        width: 70vw;
    }
    /*Productos*/
    .variedad {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
 }

 @media screen and (min-width: 1200px) {
    /*index*/
    .main1 {
        display: flex;
        flex-direction: row;
    }
    .mensajeBienvenida {
        margin-top: 220px;
        width: 30vw;
    }
    .img-fluid {
        width: 70vw;
    }
    /*productos*/
    .variedad {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
 }